<html>
<head>

</head>

<body>	
	
	<script src="https://unpkg.com/vue@2.3.3/dist/vue.js"></script>
		
		
	<div id="app">
		<app-nav></app-nav>
		<app-view>
			<app-sidebar></app-sidebar>
			<app-content></app-content>
		</app-view>
	</div>
	
	<div id='appCheckbox'>
		<input type='checkbox' id='checkbox' v-model='checked'>
		<label for='checkbox'>{{checked}}</label>
		
		<input type='checkbox' id='one' value='One' v-model='numbers'>
		<label for='one'>one</lable>
		<input type='checkbox' id='two' value='Two' v-model='numbers'>
		<label for='two'>two</lable>
		<br />
		<span>{{numbers | json}}</span>
		
		<div>
		<input type='radio' id='one' value='One' v-model='picked'>
		<label for='one'>one</lable>
		<input type='radio' id='two' value='Two' v-model='picked'>
		<label for='two'>two</lable>
		<br />
		<span>{{picked}}</span>
		</div>
		
		<div>
		<select v-model='selected' multiple>
			<option selected>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<span>Selected:{{selected | json}}</span>
		</div>
		
		<div>
		<select v-model='selected'>
			<option v-for='option of options' v-bind:value='option.value'>{{option.text}}</option>
		</select>
		<span>Selected:{{selected | json}}</span>
		</div>
		
	</div>
	
	<div id="app1">
		<span>Message is :{{message}}</span>
		<p>{{message2}}</p>
		<input type='text' v-model='message' placeholder="enter msg">
		<textarea v-model='message2' placeholder='enter msg2'></textarea>
	</div>
	
	<div id="app2">
		<ul>
			<template v-for='todo of todos'>
				<li>{{todo.text1}}:{{todo.value}}-{{index}}</li>
			</template>
			<template v-for='(key,n) in 5'>
				<li>{{key}},{{n}}</li>
			</template>
		</ul>
	</div>
	
	<div id="app3">
		<p>{{message2}}</p>
		<button @click="reverserMessage">reverserMessage</button>
	</div>
	
	<div id="app4">
		<input v-model="newTodo" v-on:keyup.enter="addTodo"></input>
		<ul>
			<li v-for="todo in todos">
				<span>{{todo.text}}</span>
				<button v-on:click="removeTodo($index)">X</button>
			</li>
		</ul>
	</div>
	
	<div id="app5" v-if="greeting">
		hello shanghai
	</div>
	
	<div id="app6">
		{{a}},{{b}}
		<input v-model='a'>
		<div>name:{{fullName}}</div>
		<input v-model="lastName">
		<input v-model="firstName">
	</div>
	
	<div id='app7' v-bind:class='{classA:isA,classB:isB}'>
		<template v-if='ok'>
			<p>hahaha</p>
		</template>
		<template v-else>
			<p>hahaha2</p>
		</template>
		<div v-if='ok' v-bind:class='classObj'>YES</div>
		<div v-else>NO</div>
		<div v-bind:class='[f,g]'></div>
		<div v-bind:class='[{f:isA,g:isB}]'></div>
		<div v-bind:style='cssObj'>testBindStyle</div>
		
		<div v-show='ok'>testVShowYes</div>
		<div v-show='!ok'>testVShowNo</div>
		
	</div>
	
	<div id='app8'>
		<button v-on:click='greet'>test</button>
	</div>
	
	<div id='app9'>
		<button v-on:click="say('hi')">say hi</button>
		<button v-on:click="say('what')">say what</button>
		<input v-on:keyup.space="tellme">
	</div>
	
	<div id='app10'>
		<div v-if='show' :transition='expand'></div>
		<button>toggle</button>
	</div>
	
	<style>
		.expand-transition {
			height:30px;
			transition:all .3s ease;
			padding:10px;
			background-color:#eee;
			overflow:hidden;
		}
		
		 .expand-enter,.expand-leave{
			height:0;
			padding:0 10px;
			opacity:0;
		}
		
	</style>
	
	<div id="demo">
    <input v-model="query">
    <ul>
        <li v-for="item in list" transition="staggered" stagger="100">
          {{item.msg}}
         </li>
    </ul>
	</div>
	
	<style>
	ul {
    padding-left: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    margin: 0;
    height: 20px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}
	</style>
	
	
	<script>
	
		var appCheckbox = new Vue({
			el:'#appCheckbox',
			data:{
				checked:false,
				numbers:[],
				picked:[],
				selected:'A',
				options:[
				{text:'One',value:'A'},
				{text:'Two',value:'B'}
				]
				
				
			}
		})
	
		var app1 = new Vue({
			el:'#app1',
			data:{
				message:'',
				message2:''
			}
		})
		
		var app2 = new Vue({
			el:'#app2',
			data:{
				todos:[
					{text1:'One',value:1},
					{text1:'Two',value:2},
					{text1:'Three',value:3},
					{text1:'Four',value:4}
				]
			}
		})
		
		var app3 = new Vue({
			el:'#app3',
			data:{
				message2:'hello'
			},
			methods:{
				reverserMessage : function(){
					this.message2 = this.message2.split('').reverse().join('')
				}
		}
		
		})
		
		var app4 = new Vue({
			el:'#app4',
			data:{
				newTodo:'',
				todos:[
					{text:'add some items'}
				]
			},
			methods:{
				addTodo:function(){
					var text = this.newTodo.trim()
					if(text){
						this.todos.push({text:text})
						this.newTodo=''
					}
				},
				
				removeTodo:function(index){
					this.todos.splice(index,1)
				}
			}
		
		})
		
		var app5 = new Vue({
			el:'#app5',
			data:{
				greeting:false
			}
		})
		
		
		var vm = new Vue({
			data:{
				a:1
			},
			created: function(){
				console.log('a is:'+this.a)
			}
		
		})
		
		var app6 = new Vue({
			el:'#app6',
			data:{
				a:1,
				firstName:'Foo',
				lastName:'Bar'
			},
			computed:{
				b:function(){
					var c = parseInt(this.a)
					return c + 1
			},
			
				fullName:function(){
					return this.firstName + ' ' + this.lastName
				}
			
			}
		})
		
		var app7 = new Vue({
			
			el:'#app7',
			data:{
				ok:false,
				isA:true,
				isB:false,
				classObj:{
					'c':true,
					'd':false,
					'e':true
				},
				f:'class-f',
				g:'class-g',
				cssObj:{
					color:'red',
					size:'18px'
				}
			}
		})
		
		var app8 = new Vue({
			el:'#app8',
			data:{
				name :'vue.js'
			},
			methods:{
				greet:function(event){
					alert('Hello' + this.name + '!')
					alert(event.target.tagName)
				}
			}
		})
		
		new Vue({
			el:'#app9',
			methods:{
				say:function(msg){
					alert(msg)
				},
				tellme:function(){
					alert('Yes we can')
				}
			}
		})
		
		new Vue({
			el:'#app10',
			data:{
				show:true,
				expand:'fade'
			},
			transitions:{
				expand:{
			beforeEnter:function(el){
				el.textContent = 'beforeEnter'
			},
			enter:function(el){
				el.textContent = 'enter'
			},
			afterEnter:function(el){
				el.textContent = 'afterEnter'
			},
			cancelledEnter:function(el){
				el.textContent = 'cancelEnter'
			},
			beforeLeave:function(el){
				el.textContent = 'beforeLeave'
			},
			leave:function(el){
				el.textContent = 'leave'
			},
			afterLeave:function(el){
				el.textContent = 'afterLeave'
			},
			cancelledLeave:function(el){
				el.textContent = 'cancelLeave'
			}
			}
			}
		})
		
		new Vue({
    el: '#demo',
    data: {
        query: '',
        list: [
            { msg: 'Bruce Lee' },
            { msg: 'Jackie Chan' },
            { msg: 'Chuck Norris' },
            { msg: 'Jet Li' },
            { msg: 'Kung Fury' }
        ]
    }
})
		
	</script>	
</body>
</html>